<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><i class="fab fa-earlybirds"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"> <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#"></a>
            </li>
        </ul>
    </div>
</nav>

<h2>You're here because you registered.</h2>
<a href="/login">Log In</a>
<style>
    body {
        background-image:url("https://res.cloudinary.com/a-name-not-already-taken/image/upload/v1583438240/kevin-mueller-aeNg4YA41P8-unsplash_rafbx8.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    h2 {
        color: white;
    }

    a {
        color: white;
        background-color: aquamarine;
        border-radius: 60px;
    }

</style>
</body>
</html>