<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"> <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#"></a>
            </li>
        </ul>
    </div>
</nav>
<h3>Secure Page</h3>
<a href="/logout">logout</a>


<p th:inline="text"><strong>First name: </strong>[[${user.firstName}]]</p>
<p th:inline="text"><strong>Last name: </strong>[[${user.lastName}]]</p>
<p th:inline="text"><strong>Email: </strong>[[${user.email}]]</p>
<p th:inline="text"><strong>Username: </strong>[[${user.username}]]</p>



</div>

<style>
    body {
        background-image:url("https://res.cloudinary.com/a-name-not-already-taken/image/upload/v1583438240/kevin-mueller-aeNg4YA41P8-unsplash_rafbx8.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }


</style>
</body>
</html>